.navbar {
    background-color: #2b527e;
}

.nav-link{
    color:white;
}

.offcanvas {
    background-color: #123456; /* Color de fondo */
}

.offcanvas-body,
.offcanvas-title,
.navbar-nav .nav-link {
    color: white; /* Color de texto */
}

@media (max-width: 991px) {
    .nav-icon-hover img {
        display: none;
    }
}

@media (min-width:320px) and (max-width:375px){
    .value-parameter{
        font-size: 20px;
    }
    .value-icon{
        font-size: 14px;
        margin-bottom: 8px;
    }

    .value-icon-co2{
        font-size:20px;
    }

    .value-si{
        font-size:10px;
    }

    .icon-params{
        width:40px;
        height:40px;
    }

    .icon-params-co2{
        width:75px;
        height:50px;
        
    }
    .text-params{
        font-size:10px;
    }

    .text-control{
        font-size:12px;
    }

    .text-control-si{
        display: none;
    }

    .value-small{
        font-size:10px;
    }

    .button_pannel_frow{
        font-size: 14px;
    }
    .button_pannel_srow{
        font-size:10px;
    }
    .button_pannel_trow{
        font-size:10px;
    }

    .icon_trow{
        width:38px;
        height:38px;
    }
    
}
@media (min-width: 375px) and (max-width: 768px) {
    .value-parameter{
        font-size: 25px;
    }
    .value-icon{
        font-size: 19px;
        margin-bottom: 8px;
    }
    
    .value-small{
        font-size:12px;
    }

    .button_pannel_frow{
        font-size: 20px;
    }
    .button_pannel_srow{
        font-size:12px;
    }
    .button_pannel_trow{
        font-size:10px;
    }

    .icon_trow{
        width:38px;
        height:38px;
    }
    
}
@media (min-width: 767px) and (max-width: 1024px) {
    .value-parameter{
        font-size: 30px;
    }
    .value-icon{
        font-size: 24px;
        margin-bottom: 8px;
    }
    
    .value-small{
        font-size:12px;
    }

    
    .button_pannel_frow{
        font-size: 19px;
    }
    .button_pannel_srow{
        font-size:13px;
    }
    .button_pannel_trow{
        font-size:10px;
    }

    .icon_trow{
        width:38px;
        height:38px;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .value-parameter{
        font-size: 35px;
    }
    .value-icon{
        font-size: 29px;
        margin-bottom: 8px;
    }
    
    .value-small{
        font-size:12px;
    }
    .icon_trow{
        width:43px;
        height:43px;
    }
}
@media (min-width: 1441px) {
    .value-parameter{
        font-size: 40px;
    }
    .value-icon{
        font-size: 34px;
        margin-bottom: 8px;
    }
    
    .value-small{
        font-size:12px;
    }

    
    .button_pannel_frow{
        font-size: 19px;
    }
    .button_pannel_srow{
        font-size:13px;
    }
    .button_pannel_trow{
        font-size:10px;
    }

    .icon_trow{
        width:42px;
        height:42px;
    }
}

/* Estilos básicos para el modal y el multiselect */
#multiselect-left, #multiselect-right {
  
    margin: 0 10px;
    overflow: hidden;
    outline-width: 0px !important;
    outline-style: inherit;
}

#multiselect-left-datos, #multiselect-right-datos {
  
    margin: 0 10px;
    overflow: hidden;
    outline-width: 0px !important;
    outline-style: inherit;
}



