.navbar {
    background-color: #2b527e;
}

.nav-link{
    color:white;
}

.offcanvas {
    background-color: #123456; /* Color de fondo */
}

.offcanvas-body,
.offcanvas-title,
.navbar-nav .nav-link {
    color: white; /* Color de texto */
}

@media (max-width: 991px) {
    .nav-icon-hover img {
        display: none;
    }
}

@media (min-width:320px) and (max-width:375px){
    .sp_ethy{
        font-size: 14px;
    }

    .sp_co2{
        font-size: 14px;
    }

    .sp_humedad{
        font-size: 14px;
    }
    
    .sp_injection{
        font-size: 14px;
    }

    .sp_temp{
        font-size: 14px;
    }
    .value-etileno{
        font-size: 14px;
    }
    .value-co2{
        font-size:14px;
    }
    .value-humedad{
        font-size:14px;
    }
    .value-h-inyeccion{
        font-size:14px;
    }
    .value-supply{
        font-size:14px;
    }
    .value-n-apertura{
        font-size:14px;
    }
    .value-compresor{
        font-size:14px;
    }
    .value-icon{
        font-size: 14px;
        margin-bottom: 8px;
    }
    
    
}
@media (min-width: 375px) and (max-width: 768px) {
    .value-etileno{
        font-size: 15px;
    }
    .value-co2{
        font-size:15px;
    }
    .value-humedad{
        font-size:15px;
    }
    .value-h-inyeccion{
        font-size:15px;
    }
    .value-supply{
        font-size:15px;
    }
    .value-n-apertura{
        font-size:15px;
    }
    .value-compresor{
        font-size:15px;
    }
    .value-icon{
        font-size: 15px;
        margin-bottom: 10px;
    }
}
@media (min-width: 767px) and (max-width: 1024px) {
    .value-etileno{
        font-size: 20px;
    }
    .value-co2{
        font-size:20px;
    }
    .value-humedad{
        font-size:20px;
    }
    .value-h-inyeccion{
        font-size:20px;
    }
    .value-supply{
        font-size:20px;
    }
    .value-n-apertura{
        font-size:20px;
    }
    .value-compresor{
        font-size:20px;
    }
    .value-icon{
        font-size: 20px;
        margin-bottom: 10px;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .value-etileno{
        font-size: 30px;
    }
    .value-co2{
        font-size:30px;
    }
    .value-humedad{
        font-size:30px;
    }
    .value-h-inyeccion{
        font-size:30px;
    }
    .value-supply{
        font-size:30px;
    }
    .value-n-apertura{
        font-size:30px;
    }
    .value-compresor{
        font-size:30px;
    }
    .value-icon{
        font-size: 30px;
        margin-bottom: 10px;
    }
}
@media (min-width: 1441px) {
    .value-etileno{
        font-size: 30px;
    }
    .value-co2{
        font-size:30px;
    }
    .value-humedad{
        font-size:30px;
    }
    .value-h-inyeccion{
        font-size:30px;
    }
    .value-supply{
        font-size:30px;
    }
    .value-n-apertura{
        font-size:30px;
    }
    .value-compresor{
        font-size:30px;
    }
    .value-icon{
        font-size: 30px;
        margin-bottom: 10px;
    }
}
